@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@tailwind base;
@tailwind components;

body {
    padding: 2rem;
    background-color: #1e1e1e;
    color: #d4d4d4;
    width: 100%;
}

#editor, #editor:focus {
    font-family: 'Source Code Pro', monospace;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
}

@tailwind utilities;